.body {
  font: bold;
  font-family: sans-serif;
}
h1 {
  text-align:center;
  color:red;
}
.image1 {
  margin:auto;
  width:70%;
  height:auto;
  display:block;
}
img {
  width:100%
}
.column1 h1 {
  color:blue;
}
.column2 h1 {
  color:blue;
}
.column3 h1 {
  color:blue;
}
.column1 {
  width:25%;
  float:left;
  margin:50px;
  column-fill: balance;
}
.column2 {
  width:25%;
  float:left;
  margin:50px;
  column-fill: balance;
}
.column3 {
  width:25%;
  float:left;
  margin:50px;
  column-fill: balance;
}
ul {
  font-style:italic
}